@keyframes playOnce{
 to{
    visibility: hidden;
}
}
.gif-opp{
    animation: playOnce 4s forwards;
}
/* Seletor da imagem */
.imagem {
    /* Definir largura e altura */
    width: 300px;
    height: 200px;
}
body{
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(100, 100, 100);
}
.button{
    text-align: center;
    
}