*{
    text-align: center;
}
body{
    background-color: rgba(44, 44, 48, 0.863);
}
h1{
    color: aquamarine;
}
div{
    flex-direction: column;
    display: flex;
    align-items: center;
}
input{
    width: 230px;
    text-align: left;
    margin: 2px;
}
button{
    margin-top: 6px;
}