body{
    background-color: #fff;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#cont{
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    margin-top: auto;
    margin-bottom: auto;
    padding: 60px 15px 60px 15px;
    border-radius: 35px;
}
button{
 width: 300px;
 height: 70px;
 font-size: 20pt;
 margin: 10px;
 border-radius: 15px;
}
