body{
    background-color: #111;
    display: flex;
    justify-content: center;
}
li{
    list-style-type: none;
    color: aliceblue;
    margin-top: 5px;
    cursor: pointer;
}
li:hover{
    color: red;
}
p{
    text-align:center;
    font-weight:900;
    color:aliceblue;
    
}